/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ========================================
  General
  ========================================
*/

.flex {
    display: flex;
}
body *{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.5px;
    color: rgb(105, 104, 104,1);
}
/*
  ========================================
  Navigation Bar
  ========================================
*/

.nav-bar {
    justify-content: flex-end;
    align-items: center;
    margin: 0.1em 1em;
    
}
.nav-bar li {
    padding: 0.8em;
   
}

.nav-bar li a {
    text-decoration: none;
     
}

.nav-bar li a:hover {
    text-decoration: underline;
}

/* app-icon */
.fa-th:hover {        
    color: #000;
}

/*
  ========================================
  Main
  ========================================
*/
.main{
    width: 100%;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top:100px;
}

main a {
    color: blue;
    text-decoration: none;
}
main a:hover {
    text-decoration: underline;
}

button {
    padding: 8px 20px;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    margin-left:8px;
    font-size: 14px;

}
button:hover {
    cursor: pointer;
    box-shadow: #000;  /* change laterrrrrrr*/
 
}

.fa-search {
   position: absolute;
   display: block;
   margin: 17px;
   z-index: 1;
   color: #9aa0a6;
}

.main input{
    position: relative;
    width: 580px;
    height: 40px;
    padding-left: 45px;
    border-radius: 30px;
    border: 1px solid #e6e6e6;
     
}

.main input:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
    
}

/*
  ========================================
  Footer
  ========================================
*/
